/*
 * Variables
 */
 
 :root {
  --eerie-black: #1e2327;
  --gunmetal: #2b3339;
  --sea-green: #458e68;
  --hookers-green: #3f6e56;
  --dark-slate-gray: #234a36;
  --mint-cream: #e2eae6;
  --ash-grey: #acb9b3;
  --tea-rose: #eeb4b3;
  --rosy-brown: #cb9392;
  --rose-red: #CF1259;
  --wanthous: #F7B538;


  --theme-bg1: var(--eerie-black);
  --theme-bg2: var(--gunmetal);
  --theme-color: var(--sea-green);
  --theme-color-muted: var(--hookers-green);
  --theme-color-dark: var(--dark-slate-gray);
  --theme-light: var(--mint-cream);
  --theme-muted: var(--ash-grey);
  --theme-contrast: var(--tea-rose);
  --theme-contrast-muted: var(--rosy-brown);
  --theme-important: var(--rose-red);
  --theme-highlight: var(--wanthous);

  --dark: #222831;
  --gray: #393e46;
  --blue: #00adb5;
  --muted-blue: #00adb580; 
  --light: #eeeeee;
  --muted-gray: #eeeeeeA0;
  --muted: #eeeeee80;
  --green: #198754;
}

/*
 * Globals
 */

*, ::after, ::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  width: 100%;
  line-height: 1.5;
  font-size: 1rem;
  background-color: var(--theme-bg1);
  color: var(--theme-light);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 .5rem;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  padding-top: .5rem;
}

p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
  padding-top: 1rem;
}

h1 {
  font-size: calc(1.4rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: calc(1.32rem + 1vw);
  margin-bottom: 1rem;
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: calc(1.3rem + .6vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.8rem;
  }
}

h4 {
  font-size: calc(1.28rem + .4vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.7rem;
  }
}

h5 {
  font-size: calc(1.26rem + .2vw);
}
@media (min-width: 1200px) {
  h5 {
    font-size: 1.6rem;
  }
}

h6 {
  font-size: calc(1.24rem + .1vw);
}
@media (min-width: 1200px) {
  h6 {
    font-size: 1.5rem;
  }
}

p {
  margin: 0 0 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

img, svg {
  vertical-align: middle;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--muted-gray);
}

.text-muted {
  color: var(--muted)!important;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

strong {
  color: var(--theme-contrast);
  font-weight: 500;
}

.underline {
  text-decoration: underline;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 1rem;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .container {
    max-width: 580px;
  }
}
@media (min-width: 800px) {
  .container {
    max-width: 770px;
  }
}
@media (min-width: 1000px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}


.narrow, .introduction {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media (min-width: 800px) {
  .narrow, .introduction {
    max-width: 80%;
  }
}
@media (min-width: 1000px) {
  .narrow, .introduction {
    max-width: 60%;
  }
}

.introduction {
  padding: 5.5rem 1rem 5rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

/*
 * Header
 */

.header-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  transition: box-shadow .2s;
  background-color: var(--theme-bg2);
  z-index: 1000;
}

nav {
  display: flex;
  margin: .5rem auto 0;
  flex-wrap: wrap;
  justify-content: center;
}

.navigation-bar {
  display: flex;
  max-width: 50em;
  padding: 0 1rem;
  margin: .5rem auto 0;
  justify-content: center;
}

.nav-shadow {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
}

h3.nav-title {
  margin: 0;
  flex: 1;
  font-weight: 500;
  align-self: center;
  color: var(--theme-contrast);
}

@media (max-width: 600px) {
  .navigation-bar {
    flex-direction: column;
    text-align: center;
  }
}

.nav-link {
  padding: .25rem 0;
  font-weight: 700;
  /* color: rgba(0, 0, 0, .5); */
  color: var(--light);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
  /* border-bottom-color: rgba(0, 0, 0, .25); */
  border-bottom-color: var(--theme-color-muted);
}

.active.nav-link:hover,
.active.nav-link:focus {
  /* border-bottom-color: rgba(0, 0, 0, .25); */
  border-bottom-color: var(--theme-color-muted);
}

.nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-link.active {
  color: var(--theme-color);
  border-bottom-color: var(--theme-color);
}


/*
 * Footer
 */

.contact-list {
  flex-direction: row;
  width: 90%;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  width: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.contact > p {
  display: flex;
  text-align: center;
  justify-content: center;
  color: var(--theme-muted);
}

.contact > img {
  width: 6rem;
  height: 6rem;
  filter: invert(100%) sepia(1%) saturate(1414%) hue-rotate(171deg) brightness(114%) contrast(87%);
}


footer {
  color: var(--theme-muted);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  text-align: center;
  font-size: .6rem;
  padding: 1rem 0 .2rem;
}

footer > p {
  margin: 0;
}

footer a {
  color: var(--theme-color-muted);
}

