/* Main page stylesheet */

h1 {
  font-weight: 500;
  font-size: 2.5rem;
}

h2 {
  font-weight: 500;
  font-size: 2.3rem;
  text-align: center;
  margin: 0 0 3rem;
}

p {
  padding-top: 0!important;
}

.home-container {
  flex: 1;
  margin: 0 auto;
  padding: 0;
}

strong {
  color: var(--theme-color);
}

/**
 * Start Page
 */

#start-page {
  display: flex;
  min-height: 100vh;
  padding: 0 20vw;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 1.3rem;
  
  /* Grading from bg2 to bg1 using postcss-easing-gradients */
  background: linear-gradient(#2b3339, ease-in-out, #1e2327);
  
  .row {
    justify-content: center;

    /* FIXME: Phone viewport: Image clips under header */
    img {
      box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
      margin: 0 2rem 0 0;
      border-radius: 15px;
    }

    #title {
      max-width: fit-content;

      h1 {
        padding: 1rem 2rem 0 0;
        font-size: 2.4rem;
        text-shadow: rgba(0, 0, 0, 0.4) 0 10px 60px;
      }

      strong {
        color: var(--theme-contrast);
      }
    }

    .column {
      align-items: center;
    }
    
    .quote {
      font-style: italic;
      text-align: justify;
      text-justify: inter-word;
      max-width: 38rem;
      margin: 1rem 0;
    }
  }
}


/**
 * Projects
 */

#projects {

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;

    .card, .card-image, .overlay {
      border-radius: 15px;
    }

    .card {
      display: flex;
      position: relative;
      width: 20rem;
      height: 20rem;
      background-color: var(--theme-bg2);

      .card-image {
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        font-size: 3rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        transition: .3s ease;
        box-shadow: rgba(17, 17, 17, 0.1) 0px 8px 24px, rgba(17, 17, 17, 0.1) 0px 16px 56px, rgba(17, 17, 17, 0.1) 0px 24px 80px;
      }

      &:hover .card-image, &:active .card-image {
        box-shadow: rgba(17, 17, 17, 0.1) 0 0 0;
      }

      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .3s ease;
        background-color: var(--theme-bg2);
        box-shadow: rgba(50, 50, 50, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      }

      &:hover .overlay, &:active .overlay {
        opacity: 1;
      }
      
      .card-body {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        text-align: justify;
        justify-content: center;

        h3 {
          text-align: center;
          margin-bottom: 1rem;
          color: var(--theme-contrast);
        }

        .card-text {
          text-justify: inter-word;
          overflow: scroll;
        }

        .card-footer {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 0 1rem;
          color: var(--theme-color);
        }

        .date {
          color: var(--theme-contrast);
        }
      }
    }
  }
}

/**
 * About section
 */

#about {
  text-align: left;
  padding: 20px;
  max-width: 800px;
  margin: auto;

  .timeline {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;

    .item-group {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: flex-start;
      position: relative;
      min-height: 60px;
    }

    /* Left border */
    .item-group::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      height: 100%;
      top: 0;
      border-left: 4px solid var(--theme-color);
    }
    /* Cut border for bottom item */
    .item-group.first::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      height: calc(100% - 30px);  /* 30px is an arbitrary shift */
      top: 0;
      bottom: 30px;
      border-left: 4px solid var(--theme-color);
    }
    /* Cut border for top item */
    .item-group.last::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      height: calc(100% - 30px);  /* 30px is an arbitrary shift */
      top: 30px;
      bottom: 0;
      border-left: 4px solid var(--theme-color);
    }
    /* Cut border for single item (top & bottom) */
    .item-group.first.last::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      height: calc(100% - 2 * 30px);  /* 30px is an arbitrary shift */
      top: 30px;
      bottom: 30px;
      border-left: 4px solid var(--theme-color);
    }
    /* Extend border with dashes for topest element*/
    .item-group.very-last::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      height: 40px;
      top: -10px;
      border-left: 4px dashed var(--theme-color);
    }

    .item-group > .item-group {
      margin-left: 40px;
    }

    .branch-svg {
      width: 200px;
      height: 100px;
      position: relative;
    }
    .branch-in {
      top: -30px;
      margin-bottom: -60px;
    }
    .branch-out {
      bottom: -30px;
      margin-top: -60px;
    }

  }
    

  .timeline-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }
  .milestone {
    position: relative;
    left: -5px;
    width: 15px;
    height: 15px;
    background: var(--theme-bg1);
    border: 3px solid var(--theme-color);
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0px 1px 5px rgba(17, 17, 17, .5);
  }
  .icon {
    font-size: 24px;
    margin-right: 10px;
    z-index: 1;
  }
  .content {
    padding: 10px;
    width: 100%;
    position: relative;
    text-align: left;
    background: none;
  }
  .date {
    font-size: 14px;
    color: #aaa;
  }

}

/**
 * Contact section
 */
#contact {

  i {
    font-size: 5rem;
    color: var(--theme-color);
  }

  p {
    color: var(--theme-contrast)
  }

}

/*
* Footer
*/

footer {
  height: 3rem;
  position: relative;
}

.bg-img {
  position: absolute;
  bottom: 0;
  width: auto;
}
