/* Main page stylesheet */

h1 {
  font-weight: 500;
}

p {
  padding-top: 0!important;
}

.home-container {
  flex: 1;
  max-width: 50em;
  margin: 0 auto;
  padding: 0;
}

/**
 * Start Page
 */

#start-page {
  display: flex;
  min-height: 100vh;
  padding: 0 20vw;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 1.3rem;
  
  /* Grading from bg2 to bg1 using postcss-easing-gradients */
  background: linear-gradient(#2b3339, ease-in-out, #1e2327);
  
  .row {
    justify-content: center;

    /* FIXME: Phone viewport: Image clips under header */
    img {
      box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
      margin: 0 2rem 0 0;
    }

    #title {
      max-width: fit-content;

      h1 {
        padding: 1rem 2rem 0 0;
        font-size: 2.4rem;
      }
    }

    .column {
      align-items: center;
    }
    
    .quote {
      font-style: italic;
      text-align: justify;
      text-justify: inter-word;
      max-width: 38rem;
      margin: 1rem 0;
    }
  }
}


/**
 * Projects
 */

#projects {
  
}

/**
 * About section
 */

#about {

}

/*
* Footer
*/

footer {
  height: 3rem;
  position: relative;
}

.bg-img {
  position: absolute;
  bottom: 0;
  width: auto;
}
