h2 {
  margin-bottom: 2.5rem;
  padding-top: 1rem;
} 

section {
  margin-bottom: 2.5rem;
}

/* Profile picture */

#profile-picture {
  max-width: 17rem;
  height: auto;
  margin: 0 auto 3rem;
  border-radius: .25rem;
  box-shadow: 0 .15rem .30rem rgba(0,0,0,.125);
}

/* Skills */

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  padding-top: 2rem;
}

.bubbles {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 .5rem .5rem;
}

.bubbled-img {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
}

.bubbled-img > img.icon {
  display: block;
  position: relative;
}

.bubbled-img > img.bubble {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 100%;
  top: 0;
}
