/* Main page stylesheet */

h1 {
  font-weight: 500;
}

p {
  padding-top: 0!important;
}

.home-container {
  flex: 1;
  max-width: 50em;
  margin: 0 auto;
  padding: 0;
}

main {
  padding: 0 1rem;
  margin: auto;
}

#start-page {
  display: flex;
  border: 1px solid red;
  height: 100vh;
}

/*
 * Footer
 */

footer {
  height: 3rem;
  position: relative;
}

.bg-img {
  position: absolute;
  bottom: 0;
  width: auto;
}
