/*
 * General
 */

.thumbnail {
  width: 100%;
  height: auto;
  box-shadow: 0 0 .25rem rgba(0,0,0,.075);
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-radius: 0;
}


/*
 * Containers
 */

/* .project-container {
  max-width: 65rem;
} */

/* .strip {
  background-color: var(--gray);
  margin: 2rem 0;
  padding: 1.5rem 0; 
} */


/*
 * Album
 */

.album {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem auto 3rem;
  justify-content: center;
}

.card-container {
  display: flex;
  padding: .5rem;
  max-width: 410px;
}
@media (min-width: 600px) {
  .card-container {
    width: 50%;
  }
}
@media (min-width: 1000px) {
  .card-container {
    width: 33.3333333%;
  }
}

.card {
  display: flex;
  flex: 1;
  flex-direction: column;

  background-color: var(--gray);
  word-wrap: break-word;

  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card > img.thumbnail {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem;
  flex: 1;
}

.card-footer {
  flex: 1;
  position: relative;
  min-height: 1.2rem;
}

.card-footer > small {
  position: absolute;
  bottom: 0;
}

.card-footer .date {
  right: 0;
  color: var(--muted);
}

.released .version {
  color: var(--green);
}

.unreleased .version {
  color: #eeeeee80;
}


/* .card-body > h3 {
  position: absolute;
  text-align: center;
  top: -2.5rem;
  left: 0rem;
  font-size: 1.5rem;
  font-weight: 500;
  width: 100%;
  color: #eee;
  text-shadow: 2px 2px 6px rgba(0,0,0,.125);
} */

.card-body > h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--blue);
  margin-bottom: .8rem;
}

.card-body > p {
  color: #eeeeeeE0;
  text-align: justify;
}


/*
 * Description
 */

#description {
  max-width: 50rem;
  margin: 0 auto 3rem;
}

#description p {
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--muted-gray)
}

#description img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 .25rem rgba(0,0,0,.075);
  border: 0;
  border-radius: .25rem;
  margin: 0 0 4rem;
}
@media (min-width: 768px) { 
  #description img {
    border-radius: .5rem;
  }
}


/*
 * Skills
 */

#skills {
  text-align: center;
  margin-bottom: 3rem;
  padding-top: 1rem;
}

#skills ul {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

#skills li {
  font-size: 1.25rem;
  margin: 0.5rem 2rem;
  font-weight: 300;
  color: var(--blue);
}

/*
 * Links
 */

#links {
  margin-bottom: 3rem;
  padding-top: 1rem;
}

#links img {
  padding: .5rem;
  color: black;
  /* border-radius: .5rem; */
  filter: invert(100%) sepia(2%) saturate(643%) hue-rotate(228deg) brightness(114%) contrast(87%);
  /* border: 2px solid black; */
} 
