{% extends "base.html.twig" %}

{% block body %}
<div class="home-container">
    <div class="home-title">
        <h1 class="text-left">Salut, moi c'est Clément</h1>
        <p class="lead text-right px-auto">Étudiant en informatique</p>
    </div>

    <div class="home-landscape">
        <img id="mountain" class="bg-img" src="./images/simple mountain 270x220.svg" width="270" height="220" alt="Montagnes"/>
        <img id="tree1" class="bg-img" src="./images/simple fir tree 100x170.svg" width="100" height="170" alt="Arbre"/>
        <img id="tree2" class="bg-img" src="./images/simple fir tree 100x170.svg" width="100" height="170" alt="Arbre"/>
        <img id="tree3" class="bg-img" src="./images/simple fir tree 100x170.svg" width="100" height="170" alt="Arbre"/>
        <img id="tree4" class="bg-img" src="./images/simple fir tree 100x170.svg" width="100" height="170" alt="Arbre"/>
        <img id="tree5" class="bg-img" src="./images/simple fir tree 100x170.svg" width="100" height="170" alt="Arbre"/>
        <img id="tree6" class="bg-img" src="./images/simple fir tree 100x170.svg" width="100" height="170" alt="Arbre"/>
    </div>
</div>
{% endblock %}
